@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

 

:root {
    --primary-dark-blue: #1C2238;
    --secondary-dark-blue: #151B30;
    --tertiary-dark-blue:  #11162B;
    --primary-red: #E33D4E;
    --primary-white: #FFFFFF;
}

* {
    margin:0;
    padding: 0;
    outline:0;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--primary-dark-blue);
    z-index: 2;
  }
  
  header li:first-child {
    border: none;
  }

  nav ul{
      display: flex;
  }
  
  header li a {
    padding: 0 10px;
    color: var(--primary-white);
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  header li a:hover {
    color: var(--primary-white);
  }
  
  input#control-nav {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  @media screen and (max-width: 767px){
    header .control-nav {
      position: absolute;
      right: 20px;
      top: 20px;
      display: block;
      width: 30px;
      padding: 5px 0;
      border: solid var(--primary-white);
      border-width: 3px 0;
      z-index: 2;
      cursor: pointer;
    }
  
    header .control-nav:before {
      content: "";
      display: block;
      height: 3px;
      background: var(--primary-white);
    }
  
    header .control-nav-close {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 1;
      background: rgba(0,0,0,0.4);
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }

    nav ul{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    header nav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      border-left: 1px solid #ccc;
      background: var(--primary-dark-blue);
      overflow-x: auto;
      z-index: 2;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }

  #control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  #control-nav:checked ~ nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

body {
    font-family: 'Fjalla One', sans-serif;
}

.hr-red{
    height: 2px;
    background-color: var(--primary-red);
    border: none;
    width: 52px;
}

.text-red {
    color: var(--primary-red);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: var(--primary-white);
}

.text-title {
    text-align: center;
    margin-top: 60px;
}

.text-big {
    font-size: 28px;
}
.section-one {
    background-image: url('./assets/img/banner-principal.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    color: var(--primary-white);
    padding-left: 150px;
}

.section-one hr {
    height: 2px;
    background-color: var(--primary-red);
    border: none;
    width: 200px;
}

.text-content {
    width: 400px;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--primary-white);
}

.red-button {
    background-color: var(--primary-red);
    height: 50px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}

.schedules {
    background-color: var(--primary-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.schedules-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card { 
    background-color: var(--secondary-dark-blue);
    width: 460px;
    height: 400px;
    margin: 30px 0px 60px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.card hr {
    height: 2px;
    border-color: var(--primary-red);
    width: 52px;
}

.card img {
    margin-top: 48px;
    width: 128px;
    height: 128px;
}

.card-text {
    color: var(--primary-white);
    margin-top: 23px;
}

.card-schedules-details{
    margin-top: 80px;
    color: var(--primary-white);
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.card-schedules-details-text{
    border-bottom: 1px solid var(--primary-red);
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about {
    background-color: var(--secondary-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.about-content {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px 0px;
}

.about-content-left {
    text-align: center;
    padding-left: 150px;
    padding-right: 100px;
}

.about-content-left img{
    border-bottom: 3px solid var(--primary-red); 
}

.about-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.text-italic{
    font-style: italic;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark-blue);
}

.price-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-price {
    width: 370px;
    height: 215px;
    background-color: var(--secondary-dark-blue);
    margin: 30px 0px 30px 10px;    
}

.card-price-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.card-price-red-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-red);
    width: 100%;
    height: 70px;
    margin-top: 50px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-dark-blue);
    padding: 20px 0px;
}

.contact-left {
    background-color: var(--tertiary-dark-blue);
    width: 770px;
}

.contact-form-title{
    text-align: center;
    padding-top: 70px;
    border-bottom: 2px solid var(--primary-red);
}

.contact-form-content{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 150px;
    padding-left: 150px;
    font-size: 12px;
    color: var(--primary-white);
    height: 240px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-group-button {
    display: flex;
    justify-content: center;
}

input[type="text"], input[type="tel"], input[type="email"]
{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--primary-red);
    color: var(--primary-white);
    width: 220px;
}

textarea  {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--primary-red);
    color: var(--primary-white);
    width: 100%;
    resize: none;
}

.contact-right {
    background-color: var(--tertiary-dark-blue);
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-address-title{
    width: 180px;
    margin-top: 70px;
    border-bottom: 2px solid var(--primary-red);
}

.contact-address-content {
    width: 300px;
}

.address-info {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.social-networks {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

footer {
    background-color: var(--tertiary-dark-blue);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;
}

footer a {
    color: var(--primary-white);
    text-decoration: none;
}

@media (max-width: 1100px) {
    .contact, .price-content, .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-right, .contact-left{
        margin: 10px 0px;
        width: 100%;
    }

}